# Project specific
frontend/node_modules
electron/node_modules
build/
*.db
*.txt
# Python
backend/venv/
__pycache__/
*.pyc

# Environment
.env
.env.local

# OS specific
.DS_Store
Thumbs.db
# React
.next/
.vite/
.env.local
.env.development
.env.production 
.env
node_modules


# Electron
.electron/
.electron-builder/
.electron-builder-cache/
.electron-builder-tmp/
.electron-builder-build/
.electron-builder-dist/
.electron-builder-out/
.electron-builder-src/

# debug
.vscode/
backend/logs/*.log
backend/.pytest_cache/
frontend/logs/

.AI_docs/
.windsurfrules
.cursorrules

